.clock {
  display: flex;
  gap: 4px;
  font-family: 'Courier New', monospace;
  font-size: 2rem;
  color: rgb(108, 249, 235);
  position: absolute;
  top: 200px;
  right: 120px;
}

.digit {
  position: relative;
  height: 5rem;
  overflow: hidden;
  width: 1ch;
  text-align: center;
}

.digit span {
  display: block;
  transition: transform 0.4s ease-in-out;
  position: absolute;
  width: 100%;
  left: 0;
  transform: translateY(0%);
}

.animate {
  animation: slideUp 0.4s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
