.today {
  text-align: center;
  font-family: monospace;
  color: rgb(14, 125, 114);
}

.today .day {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(11 105 96);

}

.today .month-year {
  font-size: 1rem;
}
